<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinba.active.mapper.CxActivityMapper">

    <resultMap type="com.xinba.active.entity.CxActivity" id="CxActivityMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="activityId" column="activity_id" jdbcType="VARCHAR"/>
        <result property="activityName" column="activity_name" jdbcType="VARCHAR"/>
        <result property="activityType" column="activity_type" jdbcType="VARCHAR"/>
        <result property="beginTime" column="begin_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="activityRange" column="activity_range" jdbcType="VARCHAR"/>
        <result property="activityDetail" column="activity_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <!--通过实体作为筛选条件查询-->
    <select id="selectActivityInfo" resultMap="CxActivityMap">
        select
        activity_id, activity_name, activity_type, activity_range, activity_detail, begin_time, end_time, status
        from shop_admin.cx_activity
        <where>
            <if test="activityId != null and activityId != ''">
                and activity_id = #{activityId}
            </if>
            <if test="activityName != null and activityName != ''">
                and activity_name like concat(concat('%',#{activityName},'%'))
            </if>
            <if test="activityType != null and activityType != ''">
                and activity_type = #{activityType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectSingleActivity" resultMap="CxActivityMap">
        select
        activity_id, activity_name, activity_type, begin_time, end_time, status
        from shop_admin.cx_activity
        <where>
            <if test="activityId != null and activityId != ''">
                and activity_id = #{activityId}
            </if>
            <if test="activityName != null and activityName != ''">
                and activity_name like concat(concat('%',#{activityName},'%'))
            </if>
            <if test="activityType != null and activityType != ''">
                and activity_type = #{activityType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!--通过activity_id 查询商品信息-->
    <select id="getActivityInfo" resultType="com.xinba.active.entity.CxActivity">
        select activity_id,activity_name,activity_type,begin_time,end_time,status from shop_admin.cx_activity
        where activity_id = #{activityId}
    </select>


    <!--添加活动-->
    <insert id="insertActivity">
        insert into shop_admin.cx_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null and activityId != ''">
                activity_id,
            </if>
            <if test="activityName != null and activityName != ''">
                activity_name,
            </if>
            <if test="activityType != null and activityType != ''">
                activity_type,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="activityRange != null and activityRange != ''">
                activity_range,
            </if>
            <if test="activityDetail != null and activityDetail != ''">
                activity_detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null and activityId != ''">
                #{activityId},
            </if>
            <if test="activityName != null and activityName != ''">
                #{activityName},
            </if>
            <if test="activityType != null and activityType != ''">
                #{activityType},
            </if>
            <if test="beginTime != null">
                #{beginTime},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="activityRange != null and activityRange != ''">
                #{activityRange},
            </if>
            <if test="activityDetail != null and activityDetail != ''">
                #{activityDetail},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update shop_admin.cx_activity
        <set>
            <if test="activityId != null and activityId != ''">
                activity_id = #{activityId},
            </if>
            <if test="activityName != null and activityName != ''">
                activity_name = #{activityName},
            </if>
            <if test="activityType != null and activityType != ''">
                activity_type = #{activityType},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--更新活动信息-->
    <update id="updateActivity">
        update shop_admin.cx_activity
        <set>
            <if test="activityName != null and activityName != ''">
                activity_name = #{activityName},
            </if>
            <if test="activityType != null and activityType != ''">
                activity_type = #{activityType},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="activityRange != null and activityRange != ''">
                activity_range = #{activityRange},
            </if>
            <if test="activityDetail != null and activityDetail != ''">
                activity_detail = #{activityDetail},
            </if>
        </set>
        where activity_id = #{activityId}
    </update>

    <!--更新活动状态-->
    <update id="updateActivityStatus">
        update shop_admin.cx_activity set status = #{status}
        where activity_id =#{activityId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from shop_admin.cx_activity where id = #{id}
    </delete>

    <!--删除活动-->
    <delete id="deleteActivity">
        delete from shop_admin.cx_activity where activity_id = #{activityId}
    </delete>

    <!--批量删除活动-->
    <delete id="deleteMultiActivity">
        delete from shop_admin.cx_activity
        where activity_id in
        <foreach collection="activityIdList" item="activityId" index="index" open="(" close=")" separator=",">
            #{activityId}
        </foreach>
    </delete>

</mapper>